@{
    ViewBag.Title = "Contact me";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    St. Petersburg<br />
    The Saint-Petersburg University (SPbU)<br />
    Faculty of Applied Mathematics and Control Processes (AMCP)<br />
    Kirillov Denis
</address>

<address>
    <strong>Email:</strong>   <a href="mailto:kirdenand@gmail.com">kirdenand@gmail.com</a><br />
</address>