@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Deduplication with Denis Kirillov</h1>
    <p class="lead">This is a simple app that I’ve built that demonstrates how to deploy a .NET app to Azure App Service.</p>
</div>

<div class="row">
    <div class="col-md-3">
        <h2>Check spelling</h2>
        <p>
            Enter Russian word and find out its spelling.
        </p>
        <p>
            <div>
                @using (Ajax.BeginForm("SpellCheck", new AjaxOptions { UpdateTargetId = "resultChecking" }))
                {
                    <input class="form-control form-group" type="text" name="inputString" />
                    <input class="btn btn-default" type="submit" name="click" placeholder="Find out!" />
                }
            </div>
        </p>
        
    </div>
    <div class="col-md-3">
        <h2>Answer of Checking</h2>
        <div id="resultChecking"></div>
    </div>
    
    <div class="col-md-3">
        <h2>Check duplication</h2>
        <p>Find out if two phrases are duplicated.</p>
        <div>
            @using (Ajax.BeginForm("Deduplicate", new AjaxOptions { UpdateTargetId = "result" }))
            {
                <input class="form-control " type="text" name="FirstString" />
                <input class="form-control form-group" type="text" name="SecondString" />
                <input class="btn btn-default " type="submit" name="click" />
            }
        </div>
    </div>
    <div class="col-md-3">
        <h2>Answer of Checking</h2>
        <div id="result"></div>
    </div>
</div>
@Scripts.Render("~/scripts/jquery-3.2.1.min.js")
@Scripts.Render("~/scripts/jquery.unobtrusive-ajax.min.js")